@import '../index.css';





.cadastroHeader{
    /* background-color: red; */
    width: 100%;
    height: 10%;
    justify-content: space-evenly;
    align-items: center;
}


.align-start{
    align-items: start;
}



.option{
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
    flex: 1;
    background-color: rgba(255, 192, 203, 0.11);
    height: 100%;
    width: auto;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}

.option div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 70%;
    border-bottom: 0px;
}


.option-selected{
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
    flex: 1;
    background-color: rgba(255, 192, 203, 0.11);
    height: 100%;
    width: auto;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}

.option-selected div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 192, 203, 0.11);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 99%;
    height: 80%;
    border: 5px solid black;
    border-bottom: 0px;
}

.cadastroContainer{
    border-top: 1px solid black;
    overflow-y: auto;
    background-color: rgba(255, 192, 203, 0.11);
    height: 90%;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}

.blocoDeInfo{
    margin-top: 20px;
    flex-shrink: 0;
    width: 90%;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.603);
}

.tituloBloco{
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;
    height: 90px;
    padding-right: 10px;
}

.tituloBloco p{
    color: var(--AzulTitulos);
    /* background-color: purple; */
    font-weight: bold;
    font-size: 35px;
}

.tituloBloco img{
    height: 100%;
    width: auto;
    
}



.inputComNome p{
    /* background-color: yellow; */
    color: var(--AzulTitulos);
    font-weight: bold;
    font-size: 20px;
}

.inputComNome input{
    background-color: #F0F4F8;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.603);
    border: none;
    height: 44px;
    display: flex;
    padding: 10px;
}

.inputComNomeplaceholder{
    color: white;
}

.inputRadio{
    /* background-color: red; */
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    align-items: center;
}

.inputRadio p{
    /* background-color: pink; */
    color: var(--AzulTitulos);
    font-weight: bold;
    font-size: 20px;
    margin-right: 25px;
}

.inputRadio input{
    transform: scale(1.8);
    background-color: #F0F4F8;
    border-radius: 20px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.603); */
    border: none;
    height: 44px;
    background-color: pink;
    margin-right: 10px;
    margin-left: 10px;
}

.inputRadio label{
    display: flex;
    flex-wrap: nowrap;
    /* background-color: pink; */
    align-items: center;
}
