@import './index.css';


.bloco{
    position: relative;
    display: flex;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.253);
    background: #FFFFFF;
    width: 40%;
    height: 35%;
    border-radius: 15px;
}

.bloco > * {
    position: relative;
    z-index: 1;
}

.bloco::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    opacity: 0;
    transition: all ease 0.4s;
    border-radius: 15px;
    z-index: 0;
}

/* .bloco:hover::after{
    opacity: 0.5;
    background: var(--azulClaro)

} */

.imagem{
    /* background-color: aqua; */
    border-radius: 15px;
    height: 100%;
    width: 50%;
}

.blocoInfo{
    margin: 0px;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    /* background-color: tomato; */
    border-radius: 15px;
    height: 100%;
    width: 50%;
}

.titulo{
    color: rgba(0, 116, 217, 0.7);
    font-size: 30px;
}

.subtitulo{
    color: #0074D9;
    font-size: 40px;
}

.bloco-a{
    height: 42px;
    width: 80%;
    background-color: #2ECC71;
    border-radius: 20px;
    margin-left: 5%;
    border: none;
    font-weight: 600;
    color: white;
    display: flex;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}