@import './index.css';

.carteirinhaConteudo{
    display: flex;

    height: 100%;
    width: 100%;
    background-color: var(--branco);
}

.blocoCarta{
    border-radius: 15px;
    justify-content: center;
    background-color: #6FC0FA;
    width: 45%;
    height: 45%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.253);
    /* border: 2px solid black; */
}

.cartaFoto{
    border-radius: 5px;
    width: 200px;
    height: calc(width / 0,75)px;
    border: 2px solid grey;
}

.cartaInfo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    /* background-color: seagreen; */
    width: 50%;
    height: 100%;
}

.infoTexts{
    margin: 10px;
    white-space: nowrap;
    font-weight: bolder;
}

.qrCodeContainer{
    box-sizing: border-box;
    padding: 10px;
    padding-top: 12px;
    border: 5px solid black;
    border-radius: 15px;
}