@import './index.css';



.conteudoContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--branco);
    width: 70%;
    height: 90dvh;
}

.linhaDisplayLista{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: red;
}

.containerDaLista{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 80%;
    width: 100%;
}

.genderIcon{
    background-color: lightblue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
}

.genderIcon img{

    width: 32px;
    height: 32px;
}

.linhaIndividual{
    /* background-color: green; */
    padding: 5px;
    border: 1px solid black;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin-bottom: 5px;
}

.linhaIndividual p{
    font-size: 17px;
    font-weight: bold;
}



