@import './index.css';



.conteudoContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--branco);
    width: 70%;
    height: 90dvh;
}


.containerDaLista{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 80%;
    width: 100%;
}

.genderIcon{
    background-color: lightblue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
}

.genderIcon img{

    width: 32px;
    height: 32px;
}

.linhaIndividual{
    /* background-color: green; */
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    height: 50px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
    transition: all 0.5s ease;
}




.linhaEmFoco{
    align-items: start;
    background-color: white;
    align-items: center;
    height: 120px;
}



