

@import './index.css';


.blocoHorarioFundo{
    display: flex;
    align-items: center;


    border-radius: 20px;
    margin: 5px 0px;
    padding: 10px;
    width: 90%;
    height: 100px;
    background-color: #F0F4F8;
    flex-shrink: 0;
    flex-grow: 0;
}
