@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IT+Moderna:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --azulClaro: #3ba0ff;
    --azulClaroHover: #1173ce;
    --branco: #F5F5F5;
    --AzulTitulos: #1C3D6E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    background-color: var(--branco)
}

.bold{
    font-weight: bold;
}

.noDecor{
    text-decoration: none;
    list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #000000; /* nice blue */
    text-decoration: none;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.globalContainer{
    background-color: var(--azulClaroHover);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.BotaoAdicionar{
    margin: 10px;
    background-color: #2ECC71;
    border-radius: 60px;
    height: 60px;
    width: 250px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    flex-shrink: 0;
}

.underShadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.603);
}

