@import './index.css';


.loginContainer{
    height: 100dvh;
    width: 100%;
    background-color: var(--branco);

}

.mainBox{
    /* border: 1px solid black; */
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 600px;
}

.logoDiv{
    justify-content: center;
    width: 100%;
    height: 25%;
    /* background-color: pink; */
}

.logoText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    width: 60%;
    height: 100%;
    white-space: nowrap;
}

.logoDiv img{
    height: 'auto';
    width: 20%;
    object-fit: fill;
    /* background-color: yellow; */
}

.texto1{
    background: linear-gradient(to bottom, #74FFF8, #6FC0FA);
    background-clip: text;
    color: transparent;
    font-size: 85px;
}

.texto2{
    color:black;
}

.CPF-Senha{
    /* background-color: yellow; */
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 50%;
    /* background-color: tomato; */
}

.CPF-Senha form{
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    /* background-color: grey; */
}

.CPF-Senha input{
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    caret-color: black;
    height: 50px;
    width: 50%;
    transition: all 200ms ease 0s;
}

.CPF-Senha input::placeholder{
    font-size: 20px;
}

.CPF-Senha input:focus{
    border-bottom: 2px solid white;
}

.CPF-Senha button{
    width: 40%;
    height: 55px;
    border-radius: 50px;
    background-color: #3DC2FF;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease 0s;
}

.CPF-Senha button:hover{
    width: 45%;
    height: 55px;
    background-color: #3DC2FF;
    border: none;
    cursor: pointer;
    color: white;
}

#esqueci-senha{
    color: #0067ee;
    text-decoration-line: none;
}

#esqueci-senha:hover{
    color: #034397;
    text-decoration-line: underline;
}

.login-btn{
    width: 40%;
    height: 55px;
    border-radius: 50px;
    background-color: #3DC2FF;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease 0s;
}

.login-btn:hover{
    width: 45%;
    height: 55px;
    background-color: #3DC2FF;
    border: none;
    cursor: pointer;
    color: white;
}